{% extends "base.html" %}


{% block styles %}

{% load staticfiles %}
<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css"> -->
<link rel="stylesheet" href="{% static "js/jqueryui/jquery-ui.css" %}">

<style>

#id_item_type {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#id_item_type > li {
    display: inline;
    width: 30%;
    color: black;
}

.control-label{
    color: black !important;
}

</style>

{% endblock %}


{% block content %}


<!-- FORMS -->

<div class="row">
 <div class="col-md-12">
  <div class="row">
   <div class="col-md-12 qoute_add_main">
     <form action="" method="post" enctype="multipart/form-data" class="form-horizontal" role="form" >{% csrf_token %}
       <div class="col-md-6 col-md-offset-3 qoute-adding">
        <div class="box border primary">
          <div align="center" class="box-title">
            <h4><i></i>REQUEST FOR QUOTE</h4>
            <div class="tools hidden-xs"/>
          </div>
          <div class="box-body big" style="padding-right:5%; padding-left:5%; color:black;">
            {% for field in  enrty_form.visible_fields %}
            <div class="form-group">
              <label class="col-sm-5 control-label" >{{field.field.label}}</label> 
              <div class="col-sm-7">{{field}} {{field.errors}}</div>
            </div>
            {% endfor %}
          </div>
        </div>
       </div>
       </div><br/>
       <div style="clear:both;"></div>
       <div class="box border primary">
        <div align="center" class="box-title">
          <h4><i></i>Add Items</h4>
        </div>
        {{ items_formset.management_form }}
		<div class="table-responsive">
		  <table class="table table-hover" id="mytable">
            <thead>
    		   <tr>
                  <th>Item</th>
                  <th>Size</th>
                  <th>Pack</th>
                  <th>Brand</th>
                  <th>Cases</th>
                  <th>Quantity in lbs</th>
                  <th colspan="2">Action</th>
               </tr>
            </thead>
            <tbody class="item qoute_input_f_control">
              {% for form in items_formset.forms %}
              <tr class="qoute_input-font">
    			{% for field in  form.visible_fields %}
    			   <td>{{field}} {{field.errors}}</td>
    			{% endfor %}
                <td colspan="2" class="action_padding">
                  <input id="add" type="button" class="btn btn-xs btn-primary add" value="+">
                  <input type="button" class="btn btn-xs btn-danger delete" value="x" />
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    <!--  </div> -->
      <button class="btn btn-primary qoute_submit_button" onclick="return confirm('Are you sure?');" type="submit">Submit</button>
                 
                <!-- </div> -->

	</form>
        </div>

    </div>
</div>
</div>
</div>
</div>

{% endblock %}


{% block scripts %}

{% load staticfiles %}
<!--
    <script src= {% static "js/jquery-ui-1.10.3.custom/js/jquery-1.9.1.js" %}></script>
    <script src= {% static "Content/css/jquery-ui/jquery-ui-1.10.2.custom.css" %}></script>   


    <script src={% static "js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js" %} ></script>
    <script src={% static "js/appendGrid/jquery.appendGrid-1.4.1.js" %}></script>
    <script src= {% static "js/jquery-validate/jquery.validate.min.js" %}></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>-->
    <!-- <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script> -->
    <script src="{% static "js/jqueryui/jquery-ui.js" %}"></script>
   

<script id="jsSource" type="text/javascript">

$(document).ready(function () {

    $("#id_port_of_delivery").parent().parent().hide();
    $("#id_type_of_delivery").parent().parent().hide();

    $("#id_date").datepicker({ dateFormat: 'yy-mm-dd' });
    $("#id_delivery_date").datepicker({ dateFormat: 'yy-mm-dd' });

    $("#id_valid_date").parent().parent().hide();
    $("#id_item_type_0").removeClass('form-control');
    $("#id_item_type_1").removeClass('form-control');

    // Code adapted from http://djangosnippets.org/snippets/1389/  
    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+-)');
        var replacement = prefix + '-' + ndx + '-';

        var name = $(el).children().attr("name");
        var id = $(el).children().attr("id");

        if (name)
            $(el).children().attr("name", name.replace(id_regex, replacement));

        if (id)
            $(el).children().attr("id", id.replace(id_regex, replacement));

    }

    function deleteForm(btn, prefix) {
        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (formCount > 1) {
            // Delete the item/form
            $(btn).parents('.item').remove();
            var forms = $('.item'); // Get all the forms  
            // Update the total number of forms (1 less than before)
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            var i = 0;
            // Go through the forms and set their indices, names and IDs
            for (formCount = forms.length; i < formCount; i++) {
                $(forms.get(i)).children().children().each(function () {
                    if ($(this).attr('type') == 'text')
                        updateElementIndex(this, prefix, i);
                });
            }
        } // End if
        else {
            alert("You have to atleast add 1 item!");
        }
        return false;
    }

    function addForm(btn, prefix) {
        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        // You can only submit a maximum of 10 todo items 
        if (formCount < 10) {
            // Clone a form (without event handlers) from the first form
            var row = $(".item:first").clone(true).get(0);
            // Insert it after the last form
            $(row).removeAttr('id').hide().insertAfter(".item:last").slideDown(300);

            // Remove the bits we don't want in the new row/form
            // e.g. error messages
            $(".errorlist", row).remove();
            $(row).children().removeClass("error");

            // Relabel or rename all the relevant bits
            $(row).children().children().each(function () {
                updateElementIndex(this, prefix, formCount);
                $(this).val("");
            });

            // Add an event handler for the delete item/form link 
            $(row).find(".delete").click(function () {
                return deleteForm(this, prefix);
            });
            $(row).find("input[type=number]").val("");
            // Update the total form count
            $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);
        } // End if
        else {
            alert("Sorry, you can only enter a maximum of ten items.");
        }
        return false;
    }
    // Register the click event handlers
    $(".add").click(function () {
        return addForm(this, "form");
    });

    $(".delete").click(function () {
        //return deleteForm(this, "form");
    });

    $("#id_customer").parent().parent().hide();

    $("#id_item_type_0").click(function() {
        $("#id_customer").parent().parent().show();
    });

    $("#id_item_type_1").click(function() {        
        $("#id_customer").parent().parent().hide();
    });


    $("#id_item_type").change(function(){

        var inp = $(this).val();
        if(inp == 'not_sold')
        {
            $("#id_customer").parent().parent().hide();
        }
        else if(inp == 'presold')
        {
            $("#id_customer").parent().parent().show();
        }
    });



    $("input[id*='id_form-'][id$='-cases']").change(function(){

        var v = $(this).val();
        if(v<0)
            $(this).val(0);

        var id = $(this).attr("id");
        var xx = id.split('-');
        xx[2] = 'quantity_in_lbs'
        var toid = xx.join('-');

        xx[2] = 'pack'
        var pid = xx.join('-');

        var x = $(this).val();
        var p = $("#"+ pid +" option:selected").text();

        //alert(p);

        calc(p,x,toid);        
    });


    $("input[id*='id_form-'][id$='-quantity_in_lbs']").attr("step", "any");

    $("#id_requester").attr("readonly", "true");

    $("#id_requester").change(function() {
        var u = '{{ request.user.id }}';
        $(this).val(u);
    });

});
</script>


 <script>

// $(document).ready(function(){
//     $(".add").click(function(){
//         //var to_add = $(this).parent().parent().parent().html();
//         var to_add = $("#myrow1").html();
//         $("#mytable").append(to_add);
//     });
//     $("#mytable").on('click','.delete',function(){
//         $(this).parent().parent().remove();
//     });
// });

</script>


 <script>

 function unique(pk)
 {
    var arr = {};

    for ( var i=0; i < pk.length; i++ )
        arr[pk[i]['value']] = pk[i];

    pk = new Array();
    for ( var key in arr )
        pk.push(arr[key]);

    return pk;
 }

$(document).ready(function(){

    $("#id_location").prepend("<option value='0'>Select</option>");
    $("#id_location").val(0);


    $("#id_location").change(function(){

        $("#id_location option[value='0']").remove( );

        var that = $(this).val();
        var url = '/quotes/ajaxloc/'+ that +'/';
        //alert(url);

        $.ajax({
          url: url,
          type: 'GET',
          data: '',
          dataType: 'text',
          cache: false,
          success: function(data){
            //alert(data);
            $("#id_packer").empty();
            $("#id_customer").empty();
            $("#id_destination").empty();

            x = eval(data);
            pk = [];
            ct = [];
            dt = [];

            for (var i = 0; i < x.length; i++) {

                pk.push( {"id": x[i].packer_id, "value":x[i].packer } );
                ct.push( {"id": x[i].customer_id,"value":x[i].customer } );
                dt.push( {"id": x[i].destination_id,"value":x[i].destination } );

            };

            pk = unique(pk);
            ct = unique(ct);
            dt = unique(dt);

            $("#id_packer").append('<option value="" selected="selected">---------</option>');
            $("#id_customer").append('<option value="" selected="selected">---------</option>');
            $("#id_destination").append('<option value="" selected="selected">---------</option>');

            for (var i = 0; i < pk.length; i++) {
                $("#id_packer").append("<option value='"+pk[i].id+"'>"+pk[i].value+"</option>");
            };

            for (var i = 0; i < ct.length; i++) {
                $("#id_customer").append("<option value='"+ct[i].id+"'>"+ct[i].value+"</option>");
            };

            for (var i = 0; i < dt.length; i++) {
                $("#id_destination").append("<option value='"+dt[i].id+"'>"+dt[i].value+"</option>");
            };


          },
          error: function(e){
            alert('error! ' + e.message);
          }
        });

    });

});

</script>

 <script>



function calc(pack,cas,f)
{
    var lb = pack.search("LB");
    var type = null;
    if(lb!="-1")
    {
        type="LB";
    }
    var oz = pack.search("OZ");
    if(oz!="-1")
    {
        type="OZ";
    }
    var g = pack.search("G");
    if(g!="-1")
    {
        type="G";
    }
    
    pack = pack.replace( "LB", '');
    pack = pack.replace( "OZ", '');
    pack = pack.replace( "G", '');
    pack = pack.replace( " ", '');
    nums = pack.split("X");
    if(type=="LB")
    {
        qty=(nums[0]*nums[1])*cas;
        qty=Math.round(qty * 100) / 100
    }
    else if(type=="G")
    {
        qty=(nums[0]*nums[1]*0.00220462)*cas;
        qty=Math.round(qty * 100) / 100
    }
    else if(type=="OZ")
    {
        qty=((nums[0]*nums[1])/16)*cas;
        qty=Math.round(qty * 100) / 100
    }
    //document.getElementById(f).value=qty;
    if (type)
    $("#"+f).val(qty);
}
 </script>

{% endblock %}