{% extends "base.html" %}

{% block title %}REQUEST FOR QUOTE{% endblock %}

{% block styles %}

   <style>
    #tblAppendGrid{
		display:inline;
		}
		
		*.ui-button {
			display: inline-block;
			margin-bottom: 0;
			font-weight: normal;
			text-align: center;
			vertical-align: middle;
			cursor: pointer;
		    color:#000;
			border: 0px solid transparent;
			white-space: nowrap;
			padding: 1px 1px;
			font-size: 14px;
			line-height: 1.428571429;
			border-radius: 4px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			user-select: none;
		}
	
    </style>

{% endblock %}


{% block content %}

<!-- FORMS -->
<div class="row">

    <div class="col-md-12">
    
        <div class="row">
                                                
            <div class="col-md-12">
 
			        <form class="form-horizontal" role="form" style="padding-right:10%; width:40%;" method="post" action="/quotes/{{ quote_item.id }}/{{ quote_item.status }}/">
              {% csrf_token %}

                      <div class="form-group">
                        <label class="col-sm-5 control-label">RFQ NO</label>
                        <div class="col-sm-7">
                          <input class="form-control" type="text" name="rfq_no" id="id_rfq_no" value="RFQ/Can/{{ quote_item.id }}" disabled>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-5 control-label">Date</label>
                        <div class="col-sm-7">
                          <input class="form-control" type="text" name="created_date" id="id_created_date" value="{{ quote_item.created_date }}" disabled>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-5 control-label">Office Location</label>
                        <div class="col-sm-7">
                         <input class="form-control" type="text" name="location" id="id_location" value="{{ quote_item.location }}" disabled>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-5 control-label">Requester</label>
                        <div class="col-sm-7">
                        <input type="text" class="form-control" name="requester" id="id_requester" value="{{ quote_item.requester }}"  disabled>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-5 control-label">Name of Packer</label>
                        <div class="col-sm-7">
                        <input type="text" class="form-control" name="packer" id="id_packer" value="{{ quote_item.packer }}"  disabled>
                     </div>
                      </div>
                      
                     <div class="form-group">
                        <label class="col-sm-5 control-label">Terms of Purchase </label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="terms_of_purchase" id="id_terms_of_purchase" value="{{ quote_item.terms_of_purchase }}"  disabled>                        
                        </div>
                      </div>

                      <div class="form-group">
                         <label class="col-sm-5 control-label">Type </label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="item_type" id="id_item_type" value="{{ quote_item.item_type }}"  disabled>                        
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-5 control-label">Name of Customer</label>
                        <div class="col-sm-7">
                        <input type="text" class="form-control" name="customer" id="id_customer" value="{{ quote_item.customer }}"  disabled>
                     </div>
                      </div>

                       <div class="form-group">
                        <label class="col-sm-5 control-label">Terms of Sale</label>
                        <div class="col-sm-7">
                        <input type="text" class="form-control" name="terms_of_sale" id="id_terms_of_sale" value="{{ quote_item.terms_of_sale }}"  disabled>
                        </div>
                      </div>

                       <div class="form-group">
                        <label class="col-sm-5 control-label">Destination</label>
                        <div class="col-sm-7">
                         <input type="text" class="form-control" name="destination" id="id_destination" value="{{ quote_item.destination }}" disabled>
                     </div>
                      </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label">Delivery Date</label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" name="delivery_date" id="id_delivery_date" value="{{ quote_item.delivery_date }}" disabled>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-5 control-label">RFQ Valid Date</label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" name="valid_date" id="id_valid_date" value="{{ quote_item.valid_date }}" disabled>
                        </div>
                      </div>


                      {% if en %}

                      <div class="form-group">
                        <label class="col-sm-5 control-label">PO</label>
                        <div class="col-sm-7">
                          <input class="form-control" type="text" id="id_po" name="po" value="{{ quote_item.delivery_date }}" disabled>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-5 control-label">Container No</label>
                        <div class="col-sm-7">
                          <input class="form-control" type="text" name="container_number" id="id_container_number" value="{{ quote_item.container_number }}">
                        </div>
                      </div>

                      {% endif %}



                </div>
       </div>
            </div>
                                 
            <!-- APPENDGRID -->  

                <div class="box border primary">
                    <div align="center" class="box-title">
                        <h4>ITEMS</h4>
                        <div class="tools hidden-xs"></div>
                    </div>

                    <div class="box-body big" style="padding-right: 2%; padding-left: 2%;">

                       <table class="table table-responsive table-hover">
                        <tr>
                            <td>Item</td>
                            <td>Size</td>
                            <td>Pack</td>
                            <td>Brand</td>
                            <td>Cases</td>
                            <td>Qnty(Lbs)</td>
                            <td>Quoted Price</td>
                        </tr>
                        <tr>
                            <td>{{ quote_item.item }}</td>
                            <td>{{ quote_item.size }}</td>
                            <td>{{ quote_item.pack }}</td>
                            <td>{{ quote_item.brand }}</td>
                            <td>{{ quote_item.cases }}</td>
                            <td>{{ quote_item.quantity }}</td>
                            <td><input id="id_quoted_price" name="quoted_price"></td>
                        </tr>

                        <tr>
                            <td colspan="5"></td>
                            <td>Approvers Remarks</td>
                            <td>
                                <textarea id="id_remarks" name="remarks"></textarea>
                            </td>
                        </tr>

                     </table>

                     <button type="submit" class="btn btn-primary">Submit</button>
                     <button type="reset" class="btn btn-primary" style="margin-left:5%;">Cancel</button>
                     <form>


                    </div>
                </div>

        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}

{% load staticfiles %}
<!--
    <script src= {% static "js/jquery-ui-1.10.3.custom/js/jquery-1.9.1.js" %}></script>
    <script src= {% static "Content/css/jquery-ui/jquery-ui-1.10.2.custom.css" %}></script>   
-->

    <script src={% static "js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js" %} ></script>

    <script src={% static "js/appendGrid/jquery.appendGrid-1.4.1.js" %}></script>
    <script src= {% static "js/jquery-validate/jquery.validate.min.js" %}></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>

<script id="jsSource" type="text/javascript">

$(document).ready(function () {
    // Code adapted from http://djangosnippets.org/snippets/1389/  
    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+-)');
        var replacement = prefix + '-' + ndx + '-';
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,
        replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

    function deleteForm(btn, prefix) {
        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (formCount > 1) {
            // Delete the item/form
            $(btn).parents('.item').remove();
            var forms = $('.item'); // Get all the forms  
            // Update the total number of forms (1 less than before)
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            var i = 0;
            // Go through the forms and set their indices, names and IDs
            for (formCount = forms.length; i < formCount; i++) {
                $(forms.get(i)).children().children().each(function () {
                    if ($(this).attr('type') == 'text') updateElementIndex(this, prefix, i);
                });
            }
        } // End if
        else {
            alert("You have to atleast add 1 item!");
        }
        return false;
    }

    function addForm(btn, prefix) {
        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        // You can only submit a maximum of 10 todo items 
        if (formCount < 10) {
            // Clone a form (without event handlers) from the first form
            var row = $(".item:first").clone(false).get(0);
            // Insert it after the last form
            $(row).removeAttr('id').hide().insertAfter(".item:last").slideDown(300);

            // Remove the bits we don't want in the new row/form
            // e.g. error messages
            $(".errorlist", row).remove();
            $(row).children().removeClass("error");

            // Relabel or rename all the relevant bits
            $(row).children().children().each(function () {
                updateElementIndex(this, prefix, formCount);
                $(this).val("");
            });

            // Add an event handler for the delete item/form link 
            $(row).find(".delete").click(function () {
                return deleteForm(this, prefix);
            });
            // Update the total form count
            $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);
        } // End if
        else {
            alert("Sorry, you can only enter a maximum of ten items.");
        }
        return false;
    }
    // Register the click event handlers
    $("#add").click(function () {
        return addForm(this, "form");
    });

    $(".delete").click(function () {
        alert('asd');
        return deleteForm(this, "form");
    });
    });
</script>
 <script>
       $(document).ready(function(e) {
       $(document).mousemove(function(e) {
         $(".insert").addClass('fa fa-plus');
         $(".remove").addClass('fa fa-times');
  });
   
});
    
</script>

{% endblock %}