{% extends "base.html" %}

{% block title %}REQUEST FOR QUOTE{% endblock %}

{% block content %}
<!-- FORMS -->

<div class="row">

    <div class="col-md-12">
    
        <div class="row">
                                                
            <div class="col-md-6 col-md-offset-3 view_qoute-gen">
 
			        <form class="form-horizontal" role="form" method="post" action="">
              {% csrf_token %}

                      <div class="form-group">
                        <label class="col-sm-5 control-label">RFQ NO</label>
                        <div class="col-sm-7">
                          <input class="form-control" type="text" name="rfq_no" id="id_rfq_no" value="RFQ/Can/{{ quote_item.id }}" disabled>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-5 control-label">Date</label>
                        <div class="col-sm-7">
                          <input class="form-control" type="text" name="date" id="id_created_date" value="{{ quote_item.date }}" disabled>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-5 control-label">Office Location</label>
                        <div class="col-sm-7">
                         <input class="form-control" type="text" name="location" id="id_location" value="{{ quote_item.location }}" disabled>
                        </div>
                      </div>

                      {% load tags %}

                      <div class="form-group">
                        <label class="col-sm-5 control-label">Requester</label>
                        <div class="col-sm-7">
                        <input type="text" class="form-control" name="requester" id="id_requester" value="{{ quote_item.requester|friendly }}"  disabled>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-5 control-label">Name of Packer</label>
                        <div class="col-sm-7">
                        <input type="text" class="form-control" name="packer" id="id_packer" value="{{ quote_item.packer }}"  disabled>
                     </div>
                      </div>
                      
                     <div class="form-group">
                        <label class="col-sm-5 control-label">Terms of Purchase </label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="terms_of_purchase" id="id_terms_of_purchase" value="{{ quote_item.terms_of_purchase }}"  disabled>                        
                        </div>
                      </div>

                      <div class="form-group">
                         <label class="col-sm-5 control-label">Type </label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="item_type" id="id_item_type" value="{{ quote_item.item_type|friendly }}"  disabled>                        
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-5 control-label">Name of Customer</label>
                        <div class="col-sm-7">
                        <input type="text" class="form-control" name="customer" id="id_customer" value="{{ quote_item.customer }}"  disabled>
                     </div>
                      </div>

                       <div class="form-group">
                        <label class="col-sm-5 control-label">Terms of Sale</label>
                        <div class="col-sm-7">
                        <input type="text" class="form-control" name="terms_of_sale" id="id_terms_of_sale" value="{{ quote_item.terms_of_sale }}"  disabled>
                        </div>
                      </div>

                       <div class="form-group">
                        <label class="col-sm-5 control-label">Destination</label>
                        <div class="col-sm-7">
                         <input type="text" class="form-control" name="destination" id="id_destination" value="{{ quote_item.destination }}" disabled>
                     </div>
                      </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label">Delivery Date</label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" name="delivery_date" id="id_delivery_date" value="{{ quote_item.delivery_date }}" disabled>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-5 control-label">RFQ Valid Date</label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" name="valid_date" id="id_valid_date" value='{{ quote_item.valid_date|default_if_none:"Not Provided" }}' disabled>
                        </div>
                      </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label">Specifications</label>
                        <div class="col-sm-7">
                           <textarea class="form-control" name="specifications" id="id_specifications" style="height: 100px;" disabled>{{ quote_item.specifications }}</textarea>
                        </div>
                      </div>

<!--                    <div class="form-group">
                        <label class="col-sm-5 control-label">Port of Delivery</label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" name="port_of_delivery" id="id_port_of_delivery" value="{{ quote_item.port_of_delivery }}" disabled>
                        </div>
                      </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label">Type of Delivery</label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" name="type_of_delivery" id="id_type_of_delivery" value="{{ quote_item.type_of_delivery }}" disabled>
                        </div>
                      </div> -->



                </div>
              </div>
            </div>

            </div>

            <br />
                                 
            <!-- APPENDGRID -->

                <div class="box border primary">
                    <div align="center" class="box-title">
                        <h4>ITEMS</h4>
                        <div class="tools hidden-xs"></div>
                    </div>

                    <div class="box-body big" style="padding-right: 2%; padding-left: 2%;">

                       <table class="table table-responsive table-hover">
                        <tr>
                            <td>Item</td>
                            <td>Size</td>
                            <td>Pack</td>
                            <td>Brand</td>
                            <td>Cases</td>
                            <td>Qnty(Lbs)</td>

                            {% if request.session.type|slugify == "admin" or request.session.type|slugify == "superadmin" or request.session.type|slugify == "user" %}

                            <td>Presold Price</td>
                            <td>Expected Selling Price</td>

                            {% endif %}

                            <td>Quoted Price</td>
                            <td>Counter offer *</td>

                            {% if request.session.type|slugify == "admin" or request.session.type|slugify == "superadmin" %}
                            <td>GP</td>
                            {% endif %}

                        </tr>

                        {% for item in quote_item.items.all %}

                        <tr>
                            <td>{{ item.item }}</td>
                            <td>{{ item.size }}</td>
                            <td>{{ item.pack }}</td>
                            <td>{{ item.brand }}</td>
                            <td>{{ item.cases }}</td>
                            <td>{{ item.quantity_in_lbs }}</td>

                            {% if request.session.type|slugify == "admin" or request.session.type|slugify == "superadmin" or request.session.type|slugify == "user" %}

                            <td>
                            <input style="width:60px;" id="id_indication_selling_price" name="indication_selling_price[]" type="number" min="0" step="any" {% if not access_flag %} disabled {% endif %} /> {{ item.currency }}
                            </td>
                            <td><input style="width:60px;" min="0" id="id_selling_price" name="selling_price[]" type="number" step="any" {% if not access_flag %} disabled {% endif %} /> {{ item.currency }}</td>
                            
                            {% endif %}

                            <td>{{ item.quoted_price }} {{ item.currency }}</td>

                            <td><input style="width:60px;" id="id_counter_offer" name="counter_offer[]" type="number" step="any" min="0" value="0" required {% if not access_flag %} disabled {% endif %}/></td>

                            {% if request.session.type|slugify == "admin" or request.session.type|slugify == "superadmin" %}
                            <td><input type="number" style="width:50px;" name="gross_profit[]" id="gp1" step="any" value="0" readonly/></td>
                            {% endif %}

                        </tr>
                        {% endfor %}


                        <tr>
                          
                            {% if request.session.type|slugify != "approver" %}
                            <td colspan="6"></td>
                            {% else %}
                            <td colspan="4"></td>
                            {% endif %}


                            <td>Approvers Remarks</td>
                            <td>{{ quote_item.approver_remarks }}</td>
                        </tr>

                        <tr>
                          
                            {% if request.session.type|slugify != "approver" %}
                            <td colspan="6"></td>
                            {% else %}
                            <td colspan="4"></td>
                            {% endif %}

                            <td>Requester Remarks</td>
                            <td>
                                <textarea id="id_requester_remarks" class="form-control" name="requester_remarks" {% if not access_flag %} disabled {% endif %}></textarea>
                            </td>
                        </tr>

                     </table>

                     {% if access_flag %}
                       <button type="submit" name="accept" value="True" class="btn btn-primary">Accept</button>
                       <button type="submit" name="counter" value="True" class="btn btn-primary">Counter</button>
                       <button type="submit" name="reject" value="True" class="btn btn-primary">Reject</button>
                     {% endif %}
                     <form>


                    </div>
                </div>

        </div>
    </div>
</div>


{% endblock %}


{% block styles %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">

<style type="text/css">

input[type=text]:disabled, textarea[disabled] {
    background-color: white;
    color: black;
}
table{
  color: black;
}

</style>

{% endblock %}


{% block scripts %}

<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

<script>
$(document).ready(function(e) {
  
  //$("#id_valid_date").datepicker({ dateFormat: 'yy-mm-dd' });

  // $("#id_selling_price").keyup(function() {

  //   var sp = $("#id_selling_price").val();
  //   var qp = 0 + parseInt('0'+{{ quote_item.quoted_price }});

  //   gp = (sp-qp) / sp;

  //   gp = Math.round(gp * 100) / 100

  //   $("#gp1").val(gp);
  // });

});

</script>

{% endblock %}