{% extends "base.html" %}

{% block title %}REQUEST FOR QUOTE{% endblock %}

{% block styles %}

<style type="text/css">

input[type=text]:disabled, textarea[disabled] {
    background-color: white;
    color: black;
}
table{
  color: black;
}

</style>

{% endblock %}


{% block content %}

<!-- FORMS -->
<div class="row">

    <div class="col-md-12">
    
        <div class="row">
                                                
            <div class="col-md-6 col-md-offset-3 view_qoute-gen">
 
			        <form class="form-horizontal" role="form" method="post" action="">
              {% csrf_token %}

                      <div class="form-group">
                        <label class="col-sm-5 control-label">RFQ NO</label>
                        <div class="col-sm-7">
                          <input class="form-control" type="text" name="rfq_no" id="id_rfq_no" value="RFQ/Can/{{ quote_item.id }}" disabled>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-5 control-label">Date</label>
                        <div class="col-sm-7">
                          <input class="form-control" type="text" name="date" id="id_created_date" value="{{ quote_item.date }}" disabled>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-5 control-label">Office Location</label>
                        <div class="col-sm-7">
                         <input class="form-control" type="text" name="location" id="id_location" value="{{ quote_item.location }}" disabled>
                        </div>
                      </div>

                      {% load tags %}

                      <div class="form-group">
                        <label class="col-sm-5 control-label">Requester</label>
                        <div class="col-sm-7">
                        <input type="text" class="form-control" name="requester" id="id_requester" value="{{ quote_item.requester|friendly }}"  disabled>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-5 control-label">Name of Packer</label>
                        <div class="col-sm-7">
                        <input type="text" class="form-control" name="packer" id="id_packer" value="{{ quote_item.packer }}"  disabled>
                     </div>
                      </div>
                      
                     <div class="form-group">
                        <label class="col-sm-5 control-label">Terms of Purchase </label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="terms_of_purchase" id="id_terms_of_purchase" value="{{ quote_item.terms_of_purchase }}"  disabled>                        
                        </div>
                      </div>

                      <div class="form-group">
                         <label class="col-sm-5 control-label">Type </label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="item_type" id="id_item_type" value="{{ quote_item.item_type|friendly }}"  disabled>                        
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-5 control-label">Name of Customer</label>
                        <div class="col-sm-7">
                        <input type="text" class="form-control" name="customer" id="id_customer" value="{{ quote_item.customer }}"  disabled>
                     </div>
                      </div>

                       <div class="form-group">
                        <label class="col-sm-5 control-label">Terms of Sale</label>
                        <div class="col-sm-7">
                        <input type="text" class="form-control" name="terms_of_sale" id="id_terms_of_sale" value="{{ quote_item.terms_of_sale }}"  disabled>
                        </div>
                      </div>

                       <div class="form-group">
                        <label class="col-sm-5 control-label">Destination</label>
                        <div class="col-sm-7">
                         <input type="text" class="form-control" name="destination" id="id_destination" value="{{ quote_item.destination }}" disabled>
                     </div>
                      </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label">Delivery Date</label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" name="delivery_date" id="id_delivery_date" value="{{ quote_item.delivery_date }}" disabled>
                        </div>
                      </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label">Delivery Date</label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" name="delivery_date" id="id_delivery_date" value="{{ quote_item.delivery_date }}" disabled>
                        </div>
                      </div>

                    <div class="form-group">
                        <label class="col-sm-6 control-label">Specifications</label>
                        <div class="col-sm-6">
                           <textarea class="form-control" name="specifications" id="id_specifications" style="height: 100px;" disabled>{{ quote_item.specifications }}</textarea>
                        </div>
                      </div>

<!--                    <div class="form-group">
                        <label class="col-sm-5 control-label">Port of Delivery</label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" name="port_of_delivery" id="id_port_of_delivery" value="{{ quote_item.port_of_delivery }}" disabled>
                        </div>
                      </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label">Type of Delivery</label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" name="type_of_delivery" id="id_type_of_delivery" value="{{ quote_item.type_of_delivery }}" disabled>
                        </div>
                      </div> -->


              </div>
		        </div>
          </div>

          </div>


				 <br>
				 <div class="box border primary">
                    <div align="center" class="box-title">
                        <h4>ITEMS</h4>
                        <div class="tools hidden-xs"></div>
                    </div>

                    <div class="box-body big" style="padding-right: 2%; padding-left: 2%;">

              
                       <table class="table table-responsive table-hover">
					 	<tr>
					 		<th>Item</th>
					 		<th>Size</th>
					 		<th>Pack</th>
					 		<th>Brand</th>
					 		<th>Cases</th>
					 		<th>Qnty Lbs</th>
					 		<th>Quoted Price</th>
					 	</tr>

            {% for item in quote_item.items.all %}

					 	<tr>
					 		<td>{{ item.item }}</td>
					 		<td>{{ item.size }}</td>
					 		<td>{{ item.pack }}</td>
					 		<td>{{ item.brand }}</td>
					 		<td>{{ item.cases }}</td>
					 		<td>{{ item.quantity }}</td>
					 		<td><input id="id_quoted_price" type="number" name="quoted_price[]" {% if not access_flag %} disabled {% endif %}></td>
					 	</tr>

            {% endfor %}



					 	<tr>
					 		<td colspan="5"></td>
					 		<td>Approvers Remarks:</td>
					 		<td>
					 			<textarea id="id_remarks" name="remarks" {% if not access_flag %} disabled {% endif %}></textarea>
					 		</td>
					 	</tr>
					</table>
 </form>
 
{% endblock %}


{% block scripts %}


{% endblock %}