{% extends "base.html" %}


{% block styles %}

<style type="text/css">

.list_black_head{
	font-family: "Times New Roman", Times, serif;
	color: #000000;
}

.list_black{
	font-family: "Times New Roman", Times, serif !important;
	color: #000000;
}

.list_black td{
	padding-top: 3px;
}


</style>

{% load staticfiles %}



{% endblock %}

{% block title %}RFQ - VIEW TABLE{% endblock %}

{% block content %}


<br />
{% if quote_items|length > 0 %}

<div class="col-md-12">
	<!-- BOX -->
	<div class="box border primary">
		<div class="box-title"></div>
		<div class="box-body">
		<div class="table-responsive">		
		<table class="table table-hover table-striped" id="search" style="border-collapse:collapse;">
			<thead>
				<tr class="list_black_head">
					<th>RFQ No</th>
					<th>Requested user</th>
					<th>Customer</th>
					<th>Location</th>
					<th>Office Location</th>
					<th>Destination</th>
					<th>Packer</th>
					<th>Request Date</th>
					<th>Delivered Date</th>
					<th>Container No</th>
					<th>PO</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			
			{% load tags %}


			<tbody class="list_black">
				{% for quote_info in quote_items %}
				<tr>
					<td>RFQ/{{ quote_info.location }}/{{ quote_info.id }}</td>
					<td>{{ quote_info.requester|friendly }}</td>
					<td>{{ quote_info.customer }}</td>

					{% if quote_info.location|slugify == 'can' %}
						<td>Canada</td>
					{% elif quote_info.location|slugify == 'us' %}
						<td>US</td>
					{% endif %}

					<td>{{ quote_info.office_location }}</td>
					<td>{{ quote_info.destination }}</td>
					<td>{{ quote_info.packer }}</td>
					<td>{{ quote_info.date|date:'d-m-Y' }}</td>
					<td>{{ quote_info.delivery_date|date:'d-m-Y' }}</td>
					<td>{{ quote_info.container_number }}</td>
					<td>{{ quote_info.po }}</td>
					<td>

					{% if quote_info.status == "rfq_generated" %}
						RFQ Generated
					{% elif quote_info.status == "response_received" %}
						Response Received
					{% elif quote_info.status == "offer_accepted" %}
						Offer Accepted
					{% elif quote_info.status == "counter_price_added" %}
						Counter Received
					{% elif quote_info.status == "generate_po" %}
						Generate PO
					{% elif quote_info.status == "po_issued" %}
						PO Issued
					{% elif quote_info.status == "order_complete" %}
						Order Complete
					{% elif quote_info.status == "order_in_production" %}
						Order in Production
					{% elif quote_info.status == "shipped" %}
						Order Shipped
					{% elif quote_info.status == "cancelled_by_user" %}
						Cancelled By User
					{% elif quote_info.status == "counter_response_received" %}
						Counter Response Received
					{% elif quote_info.status == "counter_offer_accepted" %}
						Counter Offer Accepted
					{% endif %}

					</td>

					<td><a href="/quotes/{{ quote_info.id }}/{{ quote_info.status }}/">View RFQ</a></td>
				</tr>		
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
</div>
</div>
{% else %}

<div class="alert alert-block alert-danger fade in" style="font-size:18px; width:50%;">No New RFQs</div>

{% endif %}

{% endblock %}

{% block scripts %}

{% load staticfiles %}

	<!-- DATA TABLES -->
	<script type="text/javascript" src={% static "js/datatables/media/js/jquery.dataTables.min.js" %}></script>
	<script type="text/javascript" src={% static "js/datatables/media/assets/js/datatables.min.js" %}></script>

	<script type="text/javascript">
	$(document).ready(function(){

		$('#search').dataTable({
        	aaSorting: [[0, 'desc']],
        	"bSort": false
    	});

	});
	</script>


{% endblock %}