{% extends "base.html" %}

{% block title %}Add Indian Price{% endblock %}

{% block content %}

<br />
{% if cats|length > 0 %}
<div class="row">
<div class="col-md-6">
<div class="box border primary" style="display: inline-block;">
<div class="box-title">
    <h4><i class="fa fa-table"></i>RM RATE</h4>
</div>

<table id="rm_table" class="table table-responsive table-hover">
        <tr>
                <th>Count</th>
                <th>Price</th>
                <th>Price (Inc Comm)</th>
        </tr>
</table>
</div>
</div>

<div class="col-md-4 box border primary" style="display: inline-block;">
<div class="box-title">
    <h4><i class="fa fa-table"></i>Defaults</h4>
</div>

<table class="table table-responsive table-hover">
 
        <tr>
                <th>Ex Rate</th>
                <td><input type="text" id="ex_rate" value="62" class="form-control required"></td>
        </tr>
        <tr>
                <th>Expense</th>
                <td>
                <input type="text" id="expense" value="1.05" class="form-control" required>
                </td>
        </tr>
        
        <tr>
      <th>Margin</th>
      <td><input type="text" id="margin" value="2" class="form-control" required></td>
    </tr>
 
</table>
</div>
</div>

<div class="box border primary">
<div class="box-title">
    <h4><i class="fa fa-table"></i>Price Table</h4>
</div>
<form action="" method="post" role="form">
{% csrf_token %}
<div class="table-responsive">
<table id="price_table1" class="table table-hover">
 <thead>
  <tr>
    <td>Size</td>
    <td>Cpto</td>
    <td>Rpto</td>
    <td>Ezpl</td>
    <td>Cpnd</td>
    <td>Rpnd</td>
  </tr>
 </thead>
  
 <tbody>
 
  <tr>
    <td><input type="text" class="form-control" name="size1" id="size1" value="21/25" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="cpto1" id="cpto1" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="rpto1" id="rpto1" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="ezpl1" id="ezpl1" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="cpnd1" id="cpnd1" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="rpnd1" id="rpnd1" readonly="" required=""></td>

  </tr>
  
  <tr>
    <td><input type="text" class="form-control" name="size2" id="size2" value="26/30" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="cpto2" id="cpto2" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="rpto2" id="rpto2" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="ezpl2" id="ezpl2" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="cpnd2" id="cpnd2" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="rpnd2" id="rpnd2" readonly="" required=""></td>

  </tr>
  
  <tr>
    <td><input type="text" class="form-control" name="size3" id="size3" value="31/40" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="cpto3" id="cpto3" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="rpto3" id="rpto3" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="ezpl3" id="ezpl3" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="cpnd3" id="cpnd3" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="rpnd3" id="rpnd3" readonly="" required=""></td>

  </tr>
  
  <tr>
    <td><input type="text" class="form-control" name="size4" id="size4" value="41/50" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="cpto4" id="cpto4" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="rpto4" id="rpto4" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="ezpl4" id="ezpl4" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="cpnd4" id="cpnd4" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="rpnd4" id="rpnd4" readonly="" required=""></td>

  </tr>
  
  <tr>
    <td><input type="text" class="form-control" name="size5" id="size5" value="51/60" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="cpto5" id="cpto5" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="rpto5" id="rpto5" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="ezpl5" id="ezpl5" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="cpnd5" id="cpnd5" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="rpnd5" id="rpnd5" readonly="" required=""></td>

  </tr>
  
  <tr>
    <td><input type="text" class="form-control" name="size6" id="size6" value="61/70" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="cpto6" id="cpto6" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="rpto6" id="rpto6" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="ezpl6" id="ezpl6" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="cpnd6" id="cpnd6" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="rpnd6" id="rpnd6" readonly="" required=""></td>

  </tr>
  
  <tr>
    <td><input type="text" class="form-control" name="size7" id="size7" value="71/90" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="cpto7" id="cpto7" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="rpto7" id="rpto7" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="ezpl7" id="ezpl7" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="cpnd7" id="cpnd7" readonly="" required=""></td>
    <td><input type="text" class="form-control" name="rpnd7" id="rpnd7" readonly="" required=""></td>

  </tr>
  
  
</tbody>

</table>
</div>
</form>
</div>
  
  {% if hide %}
  <tr>
  <td colspan="5"></td>
  <td><button type="submit" class="btn btn-primary">SUBMIT</button></td>
  </tr>
  {% endif %}
  
</tbody>

</table>
</div>
</form>
</div>


<div style="display:block;"></div>


<div class="box border primary col-md-3" style="display:inline-block;">
<div class="box-title">
    <h4><i class="fa fa-table"></i>MAX COUNT</h4>
</div>

<table id="count_table" class="table table-responsive table-hover">
  <tr>
    <th>Size</th>
    <th>Max Count</th>
  </tr>
</table>
</div>



<div class="box border primary col-md-3" style="display:inline-block; margin-left:20px;">
<div class="box-title">
    <h4><i class="fa fa-table"></i>YIELD TABLE</h4>
</div>

<table id="yield_table" class="table table-responsive table-hover">
  <tr>
    <th>Yields</th>
    <th>Percentage</th>
  </tr>
</table>

</div>



<div class="box border primary" style="width:40%; display:inline-block;margin-left:20px;">
<div class="box-title">
    <h4><i class="fa fa-table"></i>COUNTS FOR REGULAR TABLE</h4>
</div>

<table id="regular_table" class="table table-responsive table-hover">
  <tr>
    <th>Size</th>
    <th>Cpto</th>
    <th>Rpto</th>
    <th>Ezpl</th>
<!--    <th>Cpnd</th>
    <th>Rpnd</th> -->   
  </tr>
</table>

</div>


<div class="box border primary col-md-8" style="display:inline-block;">
<div class="box-title">
    <h4><i class="fa fa-table"></i>COUNTS FOR REGULAR TABLE</h4>
</div>

<table class="table table-responsive table-hover" id="price_table">
    <tr>
      <td>Item</td>
      <td>Count</td>
      <td>Price</td>
      <td>Expense</td>
      <td>Total</td>
      <td>Profit @ 4%</td>
      <td>Price (Inc Comm)</td>
    </tr>
  </tr>
</table>

</div>


<!-- <div class="box border primary" style="width:50%;">
<div class="box-title">
    <h4><i class="fa fa-table"></i>Price Table</h4>
</div>

<table id="regular_table" class="table table-responsive table-hover">
  <tr>
    <th>Item</th>
    <th>Count</th>
    <th>Price</th>
    <th>Expense</th>
    <th>Total</th>
    <th>Profit @ 4%</th>
    <th>Price (Inc Comm)</th>
  </tr>
</table>

</div> -->


<div style="clear:both; height:20px;"></div>

{% else %}

{% endif %}


{% endblock %}



{% block scripts %}

<script type="text/javascript">
 
 var sizes = [
			{'size' : '16/20', 'max' : 19.5},
			{'size' : '21/25', 'max' : 24},
			{'size' : '26/30', 'max' : 30},
			{'size' : '31/40', 'max' : 38},
			{'size' : '41/50', 'max' : 48},
			{'size' : '51/60', 'max' : 58},
			{'size' : '61/70', 'max' : 68},
			{'size' : '71/90', 'max' : 88},	
			{'size' : '91/110', 'max' : 90},
			{'size' : '111/200', 'max' : 92},
 ];

 var rmrate = [
            {'count' : '20', 'price' : 0},
            {'count' : '30', 'price' : 0},
            {'count' : '40', 'price' : 0},
            {'count' : '50', 'price' : 0},
            {'count' : '60', 'price' : 0},
            {'count' : '70', 'price' : 0},
            {'count' : '80', 'price' : 0},
            {'count' : '90', 'price' : 0},
            {'count' : '100', 'price' : 0},
            {'count' : '110', 'price' : 0},
 ];

  var yields = [
			{'nam' : 'Regular Cooked', 'per' : 55},
			{'nam' : 'costco cist', 'per' : 49},
			{'nam' : 'CPND REGULAR', 'per' : 53},
			{'nam' : 'RPTO REGULAR', 'per' : 67},
			{'nam' : 'RPND REGULAR', 'per' : 64},
			{'nam' : 'EZ PEEL REGULAR', 'per' : 74},
			{'nam' : 'EZ PEEL CHEM FREE', 'per' : 68},
 ];

 var rm_cooked = [
            {'cooked' : 0},
            {'cooked' : 0},
            {'cooked' : 0},
            {'cooked' : 0},
            {'cooked' : 0},
            {'cooked' : 0},
            {'cooked' : 0},
            {'cooked' : 0},
            {'cooked' : 0},
            {'cooked' : 0},
            {'cooked' : 0},
            {'cooked' : 0},
 ];
 
 function init_page()
 {
	 fill_RM_Table();
	 fill_Max_Table();
	 fill_Yield_Table();
	 fill_Regular_Table();
 }
 
function fill_RM_Table()
{
        var table = '';
		var index = 0;
        for (var i = 2; i < 9;  i++) {
			
                table += '<tr>';
 
                table += '<td>';
                table += i*10;
                table += '</td>';
 
                table += '<td>';
                table += '<input type="text" id="rm_low'+ i +'" name="rm_low'+ i +'" onChange="Changed(this.value, rm_high'+ i +', this.name,'+index+')" value="">';
                index = index+1;
                table += '</td>';
 
                table += '<td>';
				table += '<input type="text" id="rm_high'+ i +'" name="rm_high'+ i +'" value="">';				
                table += '</td>';
 
                table += '</tr>';
				
        };
 
        $('#rm_table').append(table);
}

function Changed(cur, to, name,index)
{

    CalcComm(cur, to, name,index);

    delete_Price_Table();

    fill_Price_Table_Reg();
    fill_Price_Table_Rpto();
    fill_Price_Table_Ezpl();
	fill_Price_Table_Cpnd();
	fill_Price_Table_Rpnd();

}

function delete_Price_Table()
{
    var table = document.getElementById("price_table");
    //or use :  var table = document.all.tableid;
    for(var i = table.rows.length - 1; i > 0; i--)
    {
        table.deleteRow(i);
    }
}

function fill_Max_Table()
{
	var sz = eval(sizes);
	
        var table = '';
        for (var i = 0; i < 8;  i++) {
			
                table += '<tr>';
 
                table += '<td>';
                table += sz[i].size;
                table += '</td>';
 
                table += '<td>';
                table += sz[i].max;
                table += '</td>';
				
                table += '</tr>';
				
        };
 
        $('#count_table').append(table);
}

function fill_Yield_Table()
{
	var sz = eval(yields);
	
        var table = '';
        for (var i = 0; i < 7;  i++) {
			
                table += '<tr>';
 
                table += '<td>';
                table += sz[i].nam;
                table += '</td>';
 
                table += '<td>';
                table += sz[i].per;
                table += '</td>';
				
                table += '</tr>';
				
        };
 
        $('#yield_table').append(table);
}

function fill_Regular_Table()
{
	var sz = eval(sizes);
    var yz = eval(yields);
    var rm = eval(rm_cooked);
	var result = 0;
        var table = '';
        for (var i = 0; i < 8;  i++) {
			
                table += '<tr>';
 
                table += '<td>';
                table += sz[i].size;
                table += '</td>';
 
                table += '<td>';
                
                result = 0;
                result = eval(sz[i].max*2.2*yz[0].per/100);
                result = Math.round(result);
                table += result;
                rm[i].cooked = result;
                table += '</td>';

                table += '<td>';
                
                result = 0;    
                result = eval(sz[i].max*2.2*yz[3].per/100);
                result = Math.round(result);
                table += result;
                table += '</td>';
                
                table += '<td>';
                
                result = 0;
                result = eval(sz[i].max*2.2*yz[5].per/100);
                result = Math.round(result);
                table += result;
                table += '</td>';

                table += '</tr>';
				
        };
 
        $('#regular_table').append(table);
}

function fill_Price_Table_Reg()
{
	var sz = eval(sizes);
    var yz = eval(yields);
    var rm = eval(rmrate);
    var val = 0;
    var comm = 7;
	var price = 0;
    var total = 0;
    var tyield = 0;
    var profit = 0;
    var low_val = 0;
    var high_val = 0;
    var texpense = 0;
    var j = 0;
    var tcount = 0;

    val = $("#ex_rate").val();
    val = parseFloat(val);
	
    texpense = $("#expense").val();
    texpense = parseFloat(texpense);
	
	tmargin = $("#margin").val();
	tmargin = parseFloat(tmargin);

        var table = '';
        for (var i = 0; i < 7;  i++) {
			
                if(i==0)
                {
                    table += '<tr rowspan = "8">';
                    table += '<td>';
                    table += 'REG CKD';
                    table += '</td>';
                }
                else
                {
                    table += '<tr>';
                    table += '<td>';
                    table += '</td>';
                }
 
                table += '<td>';
                table += sz[i].size;
                table += '</td>';

                table += '<td>';

                for(j=0;j<7;j++)
                {
                    if(rm[j].count > rm_cooked[i].cooked)
                    {
                        high_val = rm[j].price;
                        low_val = rm[j-1].price;
                        tcount = rm[j-1].count;
                        break;
                    }
                }
                
                price = low_val-high_val;
                price = price/10;

                price = price * (rm_cooked[i].cooked-tcount);

                price = low_val + comm - price;

                price = price*100/55;
                price = price/2.2;
                price = price/val;
                
                price = Math.round(price*100)/100;

                table += price;
                table += '</td>';

                table += '<td>';
                table += texpense;
                table += '</td>';

                table += '<td>';
                total = price+texpense;
                total = Math.round(total*100)/100;
                table += total;
                table += '</td>';

                table += '<td>';
                profit = total*tmargin/100;
                profit = Math.round(profit*100)/100;
                table += profit;
                table += '</td>';

                table += '<td>';
                profit = profit+total;
                profit = Math.round(profit*100)/100;
                table += profit;
                table += '</td>';
				
				$("#cpto"+(i+1)).val(profit);

                table += '</tr>';
                
				
        };
 
        $('#price_table').append(table);
}

function fill_Price_Table_Rpto()
{

    var sz = eval(sizes);
    var yz = eval(yields);
    var rm = eval(rmrate);
    var val = 0;
    var comm = 7;
    var price = 0;
    var total = 0;
    var tyield = 0;
    var profit = 0;
    var low_val = 0;
    var high_val = 0;
    var texpense = 0;
    var j = 0;
    var tcount = 0;

    val = $("#ex_rate").val();
    val = parseFloat(val);
	
    texpense = $("#expense").val();
    texpense = parseFloat(texpense);
	
	tmargin = $("#margin").val();
	tmargin = parseFloat(tmargin);

	var table = '';
	for (var i = 0; i < 7;  i++) {
		
			if(i==0)
			{
				table += '<tr rowspan = "8">';
				table += '<td>';
				table += 'RPTO REGULAR';
				table += '</td>';
			}
			else
			{
				table += '<tr>';
				table += '<td>';
				table += '</td>';
			}

			table += '<td>';
			table += sz[i].size;
			table += '</td>';

			table += '<td>';

			for(j=0;j<7;j++)
			{
				if(rm[j].count > rm_cooked[i].cooked)
				{
					high_val = rm[j].price;
					low_val = rm[j-1].price;
					tcount = rm[j-1].count;
					break;
				}
			}
			
			price = low_val-high_val;
			price = price/10;

			price = price * (rm_cooked[i].cooked-tcount);

			price = low_val + comm - price;

			price = price*100/67;
			price = price/2.2;
			price = price/val;
			
			price = Math.round(price*100)/100;

			table += price;
			table += '</td>';

			table += '<td>';
			table += texpense;
			table += '</td>';

			table += '<td>';
			total = price+texpense;
			total = Math.round(total*100)/100;
			table += total;
			table += '</td>';

			table += '<td>';
			profit = total*tmargin/100;
			profit = Math.round(profit*100)/100;
			table += profit;
			table += '</td>';

			table += '<td>';
			profit = profit+total;
			profit = Math.round(profit*100)/100;
			table += profit;
			table += '</td>';
			
			$("#rpto"+(i+1)).val(profit);

			table += '</tr>';
 
        };
 
        $('#price_table').append(table);
}

function fill_Price_Table_Ezpl()
{
    var sz = eval(sizes);
    var yz = eval(yields);
    var rm = eval(rmrate);
    var val = 0;
    var comm = 7;
    var price = 0;
    var total = 0;
    var tyield = 0;
    var profit = 0;
    var low_val = 0;
    var high_val = 0;
    var texpense = 0;
    var j = 0;
    var tcount = 0;

    val = $("#ex_rate").val();
    val = parseFloat(val);
	
    texpense = $("#expense").val();
    texpense = parseFloat(texpense);
	
	tmargin = $("#margin").val();
	tmargin = parseFloat(tmargin);

        var table = '';
        for (var i = 0; i < 7;  i++) {
            
                if(i==0)
                {
                    table += '<tr rowspan = "8">';
                    table += '<td>';
                    table += 'EZPL REGULAR';
                    table += '</td>';
                }
                else
                {
                    table += '<tr>';
                    table += '<td>';
                    table += '</td>';
                }
 
                table += '<td>';
                table += sz[i].size;
                table += '</td>';

                table += '<td>';

                for(j=0;j<7;j++)
                {
                    if(rm[j].count > rm_cooked[i].cooked)
                    {
                        high_val = rm[j].price;
                        low_val = rm[j-1].price;
                        tcount = rm[j-1].count;
                        break;
                    }
                }
                
                price = low_val-high_val;
                price = price/10;

                price = price * (rm_cooked[i].cooked-tcount);

                price = low_val + comm - price;

                price = price*100/74;
                price = price/2.2;
                price = price/val;
                
                price = Math.round(price*100)/100;

                table += price;
                table += '</td>';

                table += '<td>';
                table += texpense;
                table += '</td>';

                table += '<td>';
                total = price+texpense;
                total = Math.round(total*100)/100;
                table += total;
                table += '</td>';

                table += '<td>';
                profit = total*tmargin/100;
                profit = Math.round(profit*100)/100;
                table += profit;
                table += '</td>';

                table += '<td>';
                profit = profit+total;
                profit = Math.round(profit*100)/100;
                table += profit;
                table += '</td>';
				
				$("#ezpl"+(i+1)).val(profit);

                table += '</tr>';
                
                
        };
 
        $('#price_table').append(table);
}


/********** nj ********/

function fill_Price_Table_Cpnd()
{
    var sz = eval(sizes);
    var yz = eval(yields);
    var rm = eval(rmrate);
    var val = 0;
    var comm = 7;
    var price = 0;
    var total = 0;
    var tyield = 0;
    var profit = 0;
    var low_val = 0;
    var high_val = 0;
    var texpense = 0;
    var j = 0;
    var tcount = 0;

    val = $("#ex_rate").val();
    val = parseFloat(val);
	
    texpense = $("#expense").val();
    texpense = parseFloat(texpense);
	
	tmargin = $("#margin").val();
	tmargin = parseFloat(tmargin);

	var table = '';
	for (var i = 0; i < 7;  i++) {
		
			if(i==0)
			{
				table += '<tr rowspan = "8">';
				table += '<td>';
				table += 'CPND REGULAR';
				table += '</td>';
			}
			else
			{
				table += '<tr>';
				table += '<td>';
				table += '</td>';
			}

			table += '<td>';
			table += sz[i].size;
			table += '</td>';

			table += '<td>';

			for(j=0;j<7;j++)
			{
				if(rm[j].count > rm_cooked[i].cooked)
				{
					high_val = rm[j].price;
					low_val = rm[j-1].price;
					tcount = rm[j-1].count;
					break;
				}
			}
			
			price = low_val-high_val;
			price = price/10;

			price = price * (rm_cooked[i].cooked-tcount);

			price = low_val + comm - price;

			price = price*100/53;
			price = price/2.2;
			price = price/val;
			
			price = Math.round(price*100)/100;

			table += price;
			table += '</td>';

			table += '<td>';
			table += texpense;
			table += '</td>';

			table += '<td>';
			total = price+texpense;
			total = Math.round(total*100)/100;
			table += total;
			table += '</td>';

			table += '<td>';
			profit = total*tmargin/100;
			profit = Math.round(profit*100)/100;
			table += profit;
			table += '</td>';

			table += '<td>';
			profit = profit+total;
			profit = Math.round(profit*100)/100;
			table += profit;
			table += '</td>';
			
			$("#cpnd"+(i+1)).val(profit);

			table += '</tr>';
 
        };
 
        $('#price_table').append(table);
}


function fill_Price_Table_Rpnd()
{
    var sz = eval(sizes);
    var yz = eval(yields);
    var rm = eval(rmrate);
    var val = 0;
    var comm = 7;
    var price = 0;
    var total = 0;
    var tyield = 0;
    var profit = 0;
    var low_val = 0;
    var high_val = 0;
    var texpense = 0;
    var j = 0;
    var tcount = 0;

    val = $("#ex_rate").val();
    val = parseFloat(val);
	
    texpense = $("#expense").val();
    texpense = parseFloat(texpense);
	
	tmargin = $("#margin").val();
	tmargin = parseFloat(tmargin);

	var table = '';
	for (var i = 0; i < 7;  i++) {
		
			if(i==0)
			{
				table += '<tr rowspan = "8">';
				table += '<td>';
				table += 'CPND REGULAR';
				table += '</td>';
			}
			else
			{
				table += '<tr>';
				table += '<td>';
				table += '</td>';
			}

			table += '<td>';
			table += sz[i].size;
			table += '</td>';

			table += '<td>';

			for(j=0;j<7;j++)
			{
				if(rm[j].count > rm_cooked[i].cooked)
				{
					high_val = rm[j].price;
					low_val = rm[j-1].price;
					tcount = rm[j-1].count;
					break;
				}
			}
			
			price = low_val-high_val;
			price = price/10;

			price = price * (rm_cooked[i].cooked-tcount);


			price = low_val + comm - price;

			price = price*100/64;
			price = price/2.2;
			price = price/val;
			
			price = Math.round(price*100)/100;

			table += price;
			table += '</td>';

			table += '<td>';
			table += texpense;
			table += '</td>';

			table += '<td>';
			total = price+texpense;
			total = Math.round(total*100)/100;
			table += total;
			table += '</td>';

			table += '<td>';
			profit = total*2/100;
			profit = Math.round(profit*100)/100;
			table += profit;
			table += '</td>';

			table += '<td>';
			profit = profit+total;
			profit = Math.round(profit*100)/100;
			table += profit;
			table += '</td>';
			
			$("#rpnd"+(i+1)).val(profit);

			table += '</tr>';
 
        };
 
        $('#price_table').append(table);
}

function CalcComm(cur, to, name,index)
{
    rmrate[index].price=parseInt(cur);
	comm = 7;
	pr_comm = parseInt(cur) + parseInt(comm);
	$(to).val(pr_comm);
}


function Calc(val,field,item)
{
        if(val!="" && val!='0')
        {
        if(item=='cpto_price[]')
        {
                yield=document.getElementById("cpto").value;
        }
        else if(item=='rpto_price[]')
        {
                yield=document.getElementById("rpto").value;
        }
        else if(item=='ezpl_price[]')
        {
                yield=document.getElementById("ezpl").value;
        }
        else if(item=='cpnd_price[]')
        {
                yield=document.getElementById("cpnd").value;
               
        }
        else if(item=='rpnd_price[]')
        {
                yield=document.getElementById("rpnd").value;
        }
 
        ex_rate=new Number(document.getElementById("ex_rate").value);
        margin=new Number(document.getElementById("margin").value);
        expense=new Number(document.getElementById("expense").value);
 
        temp_price=(val*100)/2.2;
        temp_price1=(temp_price/ex_rate)/yield;
        price=(temp_price1+expense);
        percentage=(price/100)*margin; 
        price=Math.round((price+percentage) * 100) / 100;
        document.getElementById(field).value = price;
        }
        else
        {
        document.getElementById(field).value = "";
        }
}

$(document).ready(function(){
    init_page();

    $(".delete").click(function () {
        $(this).parent().parent().remove();
    });
});
</script>

{% endblock %}
