{% extends "base.html" %}

{% block title %}Add Indian Price{% endblock %}

{% block content %}

<br />
{% if cats|length > 0 %}
<div class="row">
<div class="col-md-6">
<div class="box border primary" style="display: inline-block;">
<div class="box-title">
    <h4><i class="fa fa-table"></i>RM RATE</h4>
</div>

<table id="rm_table" class="table table-responsive table-hover">
        <tr>
                <th>Count</th>
                <th>Price</th>
                <!-- <th>Price (Inc Comm)</th> -->
        </tr>
</table>
</div>
</div>

<div class="col-md-4 box border primary" style="display: inline-block;">
<div class="box-title">
    <h4><i class="fa fa-table"></i>Defaults</h4>
</div>

<table class="table table-responsive table-hover">
 
        <tr>
                <th>Ex Rate</th>
                <td><input type="text" id="ex_rate" value="62" class="form-control" required></td>
        </tr>

        <tr>
                <th>Expense</th>
                <td>
                <input type="text" id="expense" value="1.05" class="form-control" required>
                </td>
        </tr>
        
<!--         <tr>
              <th>Margin</th>
              <td><input type="text" id="margin" value="2" class="form-control" required></td>
        </tr> -->
 
</table>
</div>
</div>

<div class="box border primary">
<div class="box-title">
    <h4><i class="fa fa-table"></i>Price Table</h4>
</div>


<form action="" method="POST" role="form">
{% csrf_token %}
<input type="hidden" name="count" value="9">
<div class="table-responsive">
<table id="price_table2" class="table table-hover">
 <thead>
  <tr>
    <td>Size</td>
    <td>Cpto</td>
    <td>Rpto</td>
    <td>Ezpl</td>
    <td>Cpnd</td>
    <td>Rpnd</td>
  </tr>
 </thead>
  
 <tbody>
 </tbody>
 </table>
 </div>
 </div>
  
  {% if hide %}
  <tr>
  <td colspan="5"></td>
  <td><button type="submit" class="btn btn-primary">SUBMIT</button></td>
  </tr>
  {% endif %}

</div>
</form>
</div>


<div style="display:block;"></div>


<div class="box border primary col-md-3" style="display:inline-block;">
<div class="box-title">
    <h4><i class="fa fa-table"></i>MAX COUNT</h4>
</div>

<table id="count_table" class="table table-responsive table-hover">
  <tr>
    <th>Size</th>
    <th>Max Count</th>
  </tr>
</table>
</div>



<div class="box border primary col-md-3" style="display:inline-block; margin-left:20px;">
<div class="box-title">
    <h4><i class="fa fa-table"></i>REGULAR YIELD TABLE</h4>
</div>

<table id="yield_table" class="table table-responsive table-hover">
  <tr>
    <th>Yields</th>
    <th>Percentage</th>
  </tr>
</table>

</div>


<div class="box border primary col-md-3" style="display:inline-block; margin-left:20px;">
<div class="box-title">
    <h4><i class="fa fa-table"></i>CHEM FREE YIELD TABLE</h4>
</div>

<table id="chem_yield_table" class="table table-responsive table-hover">
  <tr>
    <th>Yields</th>
    <th>Percentage</th>
  </tr>
</table>

</div>



<div class="clearfix"></div>

<div class="box border primary" style="width:40%; display:inline-block;margin-left:20px;">
<div class="box-title">
    <h4><i class="fa fa-table"></i>HEAD ON COUNT REQUIRED</h4>
</div>
<div class="table-responsive">
<table id="regular_table" class="table table-hover">
  <tr>
    <th>Size</th>
    <th>Cpto</th>
    <th>Rpto</th>
    <th>Ezpl</th>
    <th>Cpnd</th>
    <th>Rpnd</th>    
  </tr>
</table>
</div>
</div>

<!-- <div class="box border primary" style="width:40%; display:inline-block; margin-left:20px;">
<div class="box-title">
    <h4><i class="fa fa-table"></i>COUNTS FOR REGULAR TABLE</h4>
</div>

<table id="regular_table" class="table table-responsive table-hover">
<tbody><tr>
    <th>Size</th>
    <th>Cpto</th>
    <th>Rpto</th>
    <th>Ezpl</th>
</tr>

<tr>
<td>16/20</td>
<td>24</td>
<td>29</td>
<td>30</td>
</tr>

<tr>
<td>21/25</td>
<td>30</td>
<td>35</td>
<td>39</td>
</tr>

<tr>
<td>26/30</td>
<td>36</td>
<td>44</td>
<td>49</td>
</tr>

<tr>
<td>31/40</td>
<td>46</td>
<td>56</td>
<td>62</td>
</tr>

<tr>
<td>41/50</td>
<td>58</td>
<td>71</td>
<td>78</td>
</tr>

<tr>
    <td>51/60</td>
    <td>70</td>
    <td>86</td>
    <td>95</td>
</tr>
<tr>
    <td>61/70</td>
    <td>82</td>
    <td>100</td>
    <td>111</td>
</tr>

<tr>
    <td>71/90</td>
    <td>107</td>
    <td>130</td>
    <td>144</td>
</tr>

</tbody>
</table>

</div> -->


<!-- <div class="box border primary col-md-8" style="display:inline-block;">
<div class="box-title">
    <h4><i class="fa fa-table"></i>COUNTS FOR REGULAR TABLE</h4>
</div>

<table class="table table-responsive table-hover" id="price_table">
    <tr>
      <td>Item</td>
      <td>Count</td>
      <td>Price</td>
      <td>Expense</td>
      <td>Total</td>
      <td>Profit @ 4%</td>
      <td>Price (Inc Comm)</td>
    </tr>
  </tr>
</table>

</div>
 -->

<!-- <div class="box border primary" style="width:50%;">
<div class="box-title">
    <h4><i class="fa fa-table"></i>Price Table</h4>
</div>

<table id="regular_table" class="table table-responsive table-hover">
  <tr>
    <th>Item</th>
    <th>Count</th>
    <th>Price</th>
    <th>Expense</th>
    <th>Total</th>
    <th>Profit @ 4%</th>
    <th>Price (Inc Comm)</th>
  </tr>
</table>

</div> -->


<div style="clear:both; height:20px;"></div>

{% else %}

{% endif %}


{% endblock %}



{% block scripts %}

<script type="text/javascript">
 
 var sizes = [
        {'size' : '13/15', 'max' : 14},
		{'size' : '16/20', 'max' : 19.5},
		{'size' : '21/25', 'max' : 24},
		{'size' : '26/30', 'max' : 30},
		{'size' : '31/40', 'max' : 38},
		{'size' : '41/50', 'max' : 48},
		{'size' : '51/60', 'max' : 58},
		{'size' : '61/70', 'max' : 68},
		{'size' : '71/90', 'max' : 88},	
		{'size' : '91/110', 'max' : 90},
		{'size' : '111/200', 'max' : 92},
 ];

var rmrate = [
        {'count' : '14', 'price' : 0},
        {'count' : '20', 'price' : 0},
        {'count' : '30', 'price' : 0},
        {'count' : '40', 'price' : 0},
        {'count' : '50', 'price' : 0},
        {'count' : '60', 'price' : 0},
        {'count' : '70', 'price' : 0},
        {'count' : '80', 'price' : 0},
        {'count' : '90', 'price' : 0},
        {'count' : '100', 'price' : 0},
        {'count' : '110', 'price' : 0},
 ];

var yields = [
		{'nam' : 'CPTO REGULAR', 'per' : 55},
		{'nam' : 'CPND REGULAR', 'per' : 53},
		{'nam' : 'RPTO REGULAR', 'per' : 67},
		{'nam' : 'RPND REGULAR', 'per' : 62},
		{'nam' : 'EZ PEEL REGULAR', 'per' : 74},
        {'nam' : 'COOKED HEADLESS', 'per' : 66},
 ];

var chem_free_yields = [
        {'nam' : 'CPTO CHEM FREE', 'per' : 49},
        {'nam' : 'COSTCO CIST CHEM FREE', 'per' : 49},
        {'nam' : 'CPND CHEM FREE', 'per' : 46},
        {'nam' : 'RPTO CHEM FREE', 'per' : 58},
        {'nam' : 'RPND CHEM FREE', 'per' : 53},
        {'nam' : 'EZ PEEL CHEM FREE', 'per' : 68},
 ];

 var regular_tb = 
 [
        {'size' : '13/15', 'cooked' : 17, 'rpto' : 21, 'ez' : 23},
        {'size' : '16/20', 'cooked' : 24, 'rpto' : 29, 'ez' : 30},
        {'size' : '21/25', 'cooked' : 30, 'rpto' : 35, 'ez' : 39},
        {'size' : '26/30', 'cooked' : 35, 'rpto' : 43, 'ez' : 47},
        {'size' : '31/40', 'cooked' : 46, 'rpto' : 56, 'ez' : 62},
        {'size' : '41/50', 'cooked' : 58, 'rpto' : 71, 'ez' : 78},
        {'size' : '51/60', 'cooked' : 70, 'rpto' : 86, 'ez' : 95},
        {'size' : '61/70', 'cooked' : 82, 'rpto' : 100, 'ez' : 111},
        {'size' : '71/90', 'cooked' : 107, 'rpto' : 130, 'ez' : 144},
 ];

var rm_cooked = [
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
 ];

var rm_rpto = [
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
 ];

var rm_ezpl = [
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
 ];

var rm_cpnd = [
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
 ];

var rm_rpnd = [
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
        {'cooked' : 0},
 ];

 var height = 9;

 function init_page()
 {
     fill_RM();
	 //fill_RM_Table();

	 fill_Max_Table();
	 fill_Yield_Table();
     fill_chem_free_Yield_Table();

	 fill_Regular_Table();
     //fill_Reg_tbl();

     fill_Input_Table()

 }
 
// function Changed(cur, to, name,index)
// {

//     //CalcComm(cur, to, name,index);

//     delete_Price_Table();

//     fill_Price_Table_Reg();
//     fill_Price_Table_Rpto();
//     fill_Price_Table_Ezpl();
//     fill_Price_Table_Cpnd();
//     fill_Price_Table_Rpnd();

// }


function Changed(cur, name,index)
{
    rmrate[index].price=parseInt(cur);

    //CalcComm(cur, to, name,index);

    //delete_Price_Table();

    fill_Price_Table_Reg();
    fill_Price_Table_Rpto();
    fill_Price_Table_Ezpl();
    fill_Price_Table_Cpnd();
    fill_Price_Table_Rpnd();

}

function update(cur, name, index){

    if(name == 1){
        rm_cooked[index].cooked = cur;
    } else if(name == 2){
        rm_rpto[index].cooked = cur;
    } else if(name == 3){
        rm_ezpl[index].cooked = cur;        
    } else if(name == 4){
        rm_cpnd[index].cooked = cur;          
    } else if(name == 5){
        rm_rpnd[index].cooked = cur;  
    }

    fill_Price_Table_Rpto();
    fill_Price_Table_Ezpl();
    fill_Price_Table_Cpnd();
    fill_Price_Table_Rpnd();

}

function fill_RM()
{
        var table = '';
        var index = 0;
        var rm = eval(rmrate);
        var l = rm.length;

        for (var i = 0; i < 9;  i++) {
            
            table += '<tr>';

            table += '<td>';
            table += rm[i].count;
            table += '</td>';

            table += '<td>';
            table += '<input type="text" id="rm_low'+ i +'" name="rm_low'+ i +'" onChange="Changed(this.value, this.name,'+i+')" value="">';
            table += '</td>';

            table += '</tr>';
                
        };
 
        $('#rm_table').append(table);
}



function fill_RM_Table()
{
        var table = '';
		var index = 0;

        for (var i = 2; i < 9;  i++) {
			
            table += '<tr>';

            table += '<td>';
            table += i*10;
            table += '</td>';

            table += '<td>';

            // table += '<input type="text" id="rm_low'+ i +'" name="rm_low'+ i +'" onChange="Changed(this.value, rm_high'+ i +', this.name,'+index+')" value="">';

            table += '<input type="text" id="rm_low'+ i +'" name="rm_low'+ i +'" onChange="Changed(this.value, this.name,'+index+')" value="">';

            index = index+1;
            table += '</td>';

            table += '<td>';
			//table += '<input type="text" id="rm_high'+ i +'" name="rm_high'+ i +'" value="">';
            table += '</td>';

            table += '</tr>';
				
        };
 
        $('#rm_table').append(table);
}


function delete_Price_Table()
{
    var table = document.getElementById("price_table");
    //or use :  var table = document.all.tableid;
    for(var i = table.rows.length - 1; i > 0; i--)
    {
        table.deleteRow(i);
    }
}



function fill_Input_Table()
{
    var sz = eval(sizes);

        var table = '';
        for (var i = 1; i < 10;  i++) {
            
                table += '<tr>';
 
                table += '<td>';
                //table += sz[i].size;
                table += '<input type="text" class="form-control" name="size'+i+'" id="size'+i+'" value="'+sz[i-1].size+'"  step="any" readonly="">'
                table += '</td>';
 
                table += '<td>';
                table += '<input type="text" class="form-control" name="cpto'+i+'" id="cpto'+i+'" step="any" required="" readonly="">';
                table += '</td>';

                table += '<td>';
                table += '<input type="text" class="form-control" name="rpto'+i+'" id="rpto'+i+'" step="any" required="" readonly="">';
                table += '</td>';

                table += '<td>';
                table += '<input type="text" class="form-control" name="ezpl'+i+'" id="ezpl'+i+'"  step="any" required="" readonly="">';
                table += '</td>';

                table += '<td>';
                table += '<input type="text" class="form-control" name="cpnd'+i+'" id="cpnd'+i+'"  step="any" required="" readonly="">';
                table += '</td>';


                table += '<td>';
                table += '<input type="text" class="form-control" name="rpnd'+i+'" id="rpnd'+i+'" step="any" required="" readonly="">';
                table += '</td>';
                
                table += '</tr>';

        };
 
        $('#price_table2').append(table);
}



function fill_Max_Table()
{
	var sz = eval(sizes);
	
    var table = '';
    for (var i = 0; i < 8;  i++) {
		
            table += '<tr>';

            table += '<td>';
            table += sz[i].size;
            table += '</td>';

            table += '<td>';
            table += sz[i].max;
            table += '</td>';
			
            table += '</tr>';
			
    };

    $('#count_table').append(table);
}

function fill_Yield_Table()
{
	var sz = eval(yields);
    var l = sz.length;
	
    var table = '';
    for (var i = 0; i < l;  i++) {
		
            table += '<tr>';

            table += '<td>';
            table += sz[i].nam;
            table += '</td>';

            table += '<td>';
            table += sz[i].per;
            table += '</td>';
			
            table += '</tr>';
			
    };

    $('#yield_table').append(table);
}


function fill_chem_free_Yield_Table()
{
    var sz = eval(chem_free_yields);
    var l = sz.length;
    
    var table = '';
    for (var i = 0; i < l;  i++) {
        
            table += '<tr>';

            table += '<td>';
            table += sz[i].nam;
            table += '</td>';

            table += '<td>';
            table += sz[i].per;
            table += '</td>';
            
            table += '</tr>';
            
    };

    $('#chem_yield_table').append(table);
}

function fill_Reg_tbl()
{
    var sz = eval(regular_tb);

    var rm = eval(rm_cooked);
    var rp = eval(rm_rpto);
    var ez = eval(rm_ezpl);
    var cp = eval(rm_cpnd);
    var rp = eval(rm_rpnd);

    table= '';
    for (var i = 0; i < 8; i++) {
        table += '<tr>';
 
        table += '<td>';
        table += sz[i].size;
        table += '</td>';

        table += '<td>';
        table += sz[i].cooked;
        rm[i].cooked = sz[i].cooked;
        table += '</td>';

        table += '<td>';
        table += sz[i].rpto;
        rp[i].cooked = sz[i].rpto;
        table += '</td>';
        
        table += '<td>';
        table += sz[i].ez;
        ez[i].cooked = sz[i].ez;
        table += '</td>';

        table += '</tr>';
   };

    $('#regular_table').append(table);

}

function fill_Regular_Table()
{
	var sz = eval(sizes);
    var yz = eval(yields);

    var rm = eval(rm_cooked);
    var rp = eval(rm_rpto);
    var ez = eval(rm_ezpl);
    var cp = eval(rm_cpnd);
    var rd = eval(rm_rpnd);

	var result = 0;
        
    var table = '';
    for (var i = 0; i < height;  i++) {
		
            table += '<tr>';

            table += '<td>';
            table += sz[i].size;
            table += '</td>';

            table += '<td>';
            result = eval((sz[i].max*2.20462*yz[0].per)/100);
            result = Math.round(result);
            //table += result;
            rm[i].cooked = result;
            table += '<input type="text" id="cpto'+i+'" class="form-control" onChange="update(this.value, 1, '+i+')" step="any" value="'+ result +'">';
            table += '</td>';

            table += '<td>';   
            result = eval(sz[i].max*2.20462*yz[2].per/100);
            result = Math.round(result);
            //table += result;
            rp[i].cooked = result;
            table += '<input type="text" id="rpto'+i+'" class="form-control" onChange="update(this.value, 2, '+i+')" step="any" value="'+ result +'">';
            table += '</td>';
            
            table += '<td>';
            result = eval(sz[i].max*2.20462*yz[4].per/100);
            result = Math.round(result);
            //table += result;
            ez[i].cooked = result;
            table += '<input type="text" id="ezpl'+i+'" class="form-control" onChange="update(this.value, 3, '+i+')" step="any" value="'+ result +'">';
            table += '</td>';

            table += '<td>';
            result = eval(sz[i].max*2.20462*yz[1].per/100);
            result = Math.round(result);
            //table += result;
            cp[i].cooked = result;
            table += '<input type="text" id="cpnd'+i+'" class="form-control" onChange="update(this.value, 4, '+i+')" step="any" value="'+ result +'">';
            table += '</td>';

            table += '<td>';
            result = eval(sz[i].max*2.20462*yz[3].per/100);
            result = Math.round(result);
            //table += result;
            rd[i].cooked = result;
            table += '<input type="text" id="rpnd'+i+'" class="form-control" onChange="update(this.value, 5, '+i+')" step="any" value="'+ result +'">';
            table += '</td>';

            table += '</tr>';
			
    };

    $('#regular_table').append(table);
}

function fill_Price_Table_Reg()
{
	var sz = eval(sizes);
    var rm = eval(rmrate);
    var val = 0;
    var comm = 7;
	var price = 0;
    var total = 0;
    var tyield = 0;
    var profit = 0;
    var low_val = 0;
    var high_val = 0;
    var texpense = 0;
    var j = 0;
    var tcount = 0;

    val = $("#ex_rate").val();
    val = parseFloat(val);
	
    texpense = $("#expense").val();
    texpense = parseFloat(texpense);
	
	tmargin = $("#margin").val();
	tmargin = parseFloat(tmargin);
    tmargin = 2;

    var table = '';
    for (var i = 0; i < height;  i++) {
		
            if(i==0)
            {
                table += '<tr rowspan = "8">';
                table += '<td>';
                table += 'REG CKD';
                table += '</td>';
            }
            else
            {
                table += '<tr>';
                table += '<td>';
                table += '</td>';
            }

            table += '<td>';
            table += sz[i].size;
            table += '</td>';

            table += '<td>';

            for(j=1;j<7;j++)
            {
                if(rm[j].count > rm_cooked[i].cooked)
                {
                    high_val = rm[j].price;
                    low_val = rm[j-1].price;
                    tcount = rm[j-1].count;
                    break;
                }
            }
            
            price = low_val-high_val;
            price = price/10;

            price = price * (rm_cooked[i].cooked-tcount);

            price = low_val + comm - price;

            price = price*100/55;
            price = price/2.2;
            price = price/val;
            
            price = Math.round(price*100)/100;

            table += price;
            table += '</td>';

            table += '<td>';
            table += texpense;
            table += '</td>';

            table += '<td>';
            total = price+texpense;
            total = Math.round(total*100)/100;
            table += total;
            table += '</td>';

            table += '<td>';
            profit = total*tmargin/100;
            profit = Math.round(profit*100)/100;
            table += profit;
            table += '</td>';

            table += '<td>';
            profit = profit+total;
            profit = Math.round(profit*100)/100;
            table += profit;
            table += '</td>';

            profit = Math.abs(profit);
			
			$("#cpto"+(i+1)).val(profit);

            table += '</tr>';    
	
        };
 
        //$('#price_table').append(table);
}

function fill_Price_Table_Rpto()
{

    var sz = eval(sizes);
    var rm = eval(rmrate);
    var val = 0;
    var comm = 7;
    var price = 0;
    var total = 0;
    var tyield = 0;
    var profit = 0;
    var low_val = 0;
    var high_val = 0;
    var texpense = 0;
    var j = 0;
    var tcount = 0;

    val = $("#ex_rate").val();
    val = parseFloat(val);
	
    texpense = $("#expense").val();
    texpense = parseFloat(texpense);
	
	tmargin = $("#margin").val();
	tmargin = parseFloat(tmargin);
    tmargin = 2;

	var table = '';
	for (var i = 0; i < height;  i++) {
		
			if(i==0)
			{
				table += '<tr rowspan = "8">';
				table += '<td>';
				table += 'RPTO REGULAR';
				table += '</td>';
			}
			else
			{
				table += '<tr>';
				table += '<td>';
				table += '</td>';
			}

			table += '<td>';
			table += sz[i].size;
			table += '</td>';

			table += '<td>';

			for(j=1;j<7;j++)
			{
				if(rm[j].count > rm_rpto[i].cooked)
				{
					high_val = rm[j].price;
					low_val = rm[j-1].price;
					tcount = rm[j-1].count;
					break;
				}
			}
			
			price = low_val-high_val;
			price = price/10;

			price = price * (rm_rpto[i].cooked-tcount);

			price = low_val + comm - price;

			price = price*100/67;
			price = price/2.2;
			price = price/val;
			
			price = Math.round(price*100)/100;

			table += price;
			table += '</td>';

			table += '<td>';
			table += texpense;
			table += '</td>';

			table += '<td>';
			total = price+texpense;
			total = Math.round(total*100)/100;
			table += total;
			table += '</td>';

			table += '<td>';
			profit = total*tmargin/100;
			profit = Math.round(profit*100)/100;
			table += profit;
			table += '</td>';

			table += '<td>';
			profit = profit+total;
			profit = Math.round(profit*100)/100;
			table += profit;
			table += '</td>';

            profit = Math.abs(profit);
			
			$("#rpto"+(i+1)).val(profit);

			table += '</tr>';
 
        };
 
        //$('#price_table').append(table);
}

function fill_Price_Table_Ezpl()
{
    var sz = eval(sizes);
    var rm = eval(rmrate);
    var val = 0;
    var comm = 7;
    var price = 0;
    var total = 0;
    var tyield = 0;
    var profit = 0;
    var low_val = 0;
    var high_val = 0;
    var texpense = 0;
    var j = 0;
    var tcount = 0;

    val = $("#ex_rate").val();
    val = parseFloat(val);
	
    texpense = $("#expense").val();
    texpense = parseFloat(texpense);
	
	tmargin = $("#margin").val();
	tmargin = parseFloat(tmargin);
    tmargin = 2;

    var table = '';
    for (var i = 0; i < height;  i++) {
        
        if(i==0)
        {
            table += '<tr rowspan = "8">';
            table += '<td>';
            table += 'EZPL REGULAR';
            table += '</td>';
        }
        else
        {
            table += '<tr>';
            table += '<td>';
            table += '</td>';
        }

        table += '<td>';
        table += sz[i].size;
        table += '</td>';

        table += '<td>';

        for(j=1;j<7;j++)
        {
            if(rm[j].count > rm_ezpl[i].cooked)
            {
                high_val = rm[j].price;
                low_val = rm[j-1].price;
                tcount = rm[j-1].count;
                break;
            }
        }
        
        price = low_val-high_val;
        price = price/10;

        price = price * (rm_ezpl[i].cooked-tcount);

        price = low_val + comm - price;

        price = price*100/74;
        price = price/2.2;
        price = price/val;
        
        price = Math.round(price*100)/100;

        table += price;
        table += '</td>';

        table += '<td>';
        table += texpense;
        table += '</td>';

        table += '<td>';
        total = price+texpense;
        total = Math.round(total*100)/100;
        table += total;
        table += '</td>';

        table += '<td>';
        profit = total*tmargin/100;
        profit = Math.round(profit*100)/100;
        table += profit;
        table += '</td>';

        table += '<td>';
        profit = profit+total;
        profit = Math.round(profit*100)/100;
        table += profit;
        table += '</td>';

        profit = Math.abs(profit);
		
		$("#ezpl"+(i+1)).val(profit);

        table += '</tr>';
    };
 
    //$('#price_table').append(table);
}


/********** nj ********/

function fill_Price_Table_Cpnd()
{
    var sz = eval(sizes);
    var rm = eval(rmrate);
    var val = 0;
    var comm = 7;
    var price = 0;
    var total = 0;
    var tyield = 0;
    var profit = 0;
    var low_val = 0;
    var high_val = 0;
    var texpense = 0;
    var j = 0;
    var tcount = 0;

    val = $("#ex_rate").val();
    val = parseFloat(val);
	
    texpense = $("#expense").val();
    texpense = parseFloat(texpense);
	
	tmargin = $("#margin").val();
	tmargin = parseFloat(tmargin);
    tmargin = 2;

	var table = '';
	for (var i = 0; i < height;  i++) {
		
			if(i==0)
			{
				table += '<tr rowspan = "8">';
				table += '<td>';
				table += 'CPND REGULAR';
				table += '</td>';
			}
			else
			{
				table += '<tr>';
				table += '<td>';
				table += '</td>';
			}

			table += '<td>';
			table += sz[i].size;
			table += '</td>';

			table += '<td>';

			for(j=1;j<7;j++)
			{
				if(rm[j].count > rm_cpnd[i].cooked)
				{
					high_val = rm[j].price;
					low_val = rm[j-1].price;
					tcount = rm[j-1].count;
					break;
				}
			}
			
			price = low_val-high_val;
			price = price/10;

			price = price * (rm_cpnd[i].cooked-tcount);

			price = low_val + comm - price;

			price = price*100/53;
			price = price/2.2;
			price = price/val;
			
			price = Math.round(price*100)/100;

			table += price;
			table += '</td>';

			table += '<td>';
			table += texpense;
			table += '</td>';

			table += '<td>';
			total = price+texpense;
			total = Math.round(total*100)/100;
			table += total;
			table += '</td>';

			table += '<td>';
			profit = total*tmargin/100;
			profit = Math.round(profit*100)/100;
			table += profit;
			table += '</td>';

			table += '<td>';
			profit = profit+total;
			profit = Math.round(profit*100)/100;
			table += profit;
			table += '</td>';

            profit = Math.abs(profit);
			
			$("#cpnd"+(i+1)).val(profit);

			table += '</tr>';
 
        };
 
        //$('#price_table').append(table);
}


function fill_Price_Table_Rpnd()
{
    var sz = eval(sizes);
    var rm = eval(rmrate);
    var val = 0;
    var comm = 7;
    var price = 0;
    var total = 0;
    var tyield = 0;
    var profit = 0;
    var low_val = 0;
    var high_val = 0;
    var texpense = 0;
    var j = 0;
    var tcount = 0;

    val = $("#ex_rate").val();
    val = parseFloat(val);
	
    texpense = $("#expense").val();
    texpense = parseFloat(texpense);
	
	tmargin = $("#margin").val();
	tmargin = parseFloat(tmargin);
    tmargin = 2;

	var table = '';
	for (var i = 0; i < height;  i++) {
		
			if(i==0)
			{
				table += '<tr rowspan = "8">';
				table += '<td>';
				table += 'CPND REGULAR';
				table += '</td>';
			}
			else
			{
				table += '<tr>';
				table += '<td>';
				table += '</td>';
			}

			table += '<td>';
			table += sz[i].size;
			table += '</td>';

			table += '<td>';

			for(j=1;j<7;j++)
			{
				if(rm[j].count > rm_rpnd[i].cooked)
				{
					high_val = rm[j].price;
					low_val = rm[j-1].price;
					tcount = rm[j-1].count;
					break;
				}
			}
			
			price = low_val-high_val;
			price = price/10;

			price = price * (rm_rpnd[i].cooked-tcount);


			price = low_val + comm - price;

			price = price*100/64;
			price = price/2.2;
			price = price/val;
			
			price = Math.round(price*100)/100;

			table += price;
			table += '</td>';

			table += '<td>';
			table += texpense;
			table += '</td>';

			table += '<td>';
			total = price+texpense;
			total = Math.round(total*100)/100;
			table += total;
			table += '</td>';

			table += '<td>';
			profit = total*2/100;
			profit = Math.round(profit*100)/100;
			table += profit;
			table += '</td>';

			table += '<td>';
			profit = profit+total;
			profit = Math.round(profit*100)/100;
			table += profit;
			table += '</td>';

            profit = Math.abs(profit);
			
			$("#rpnd"+(i+1)).val(profit);

			table += '</tr>';
 
        };
 
        //$('#price_table').append(table);
}

function CalcComm(cur, to, name,index)
{
    rmrate[index].price=parseInt(cur);
	comm = 7;
	pr_comm = parseInt(cur) + parseInt(comm);
	$(to).val(pr_comm);
}


function Calc(val,field,item)
{
        if(val!="" && val!='0')
        {
        if(item=='cpto_price[]')
        {
                yield=document.getElementById("cpto").value;
        }
        else if(item=='rpto_price[]')
        {
                yield=document.getElementById("rpto").value;
        }
        else if(item=='ezpl_price[]')
        {
                yield=document.getElementById("ezpl").value;
        }
        else if(item=='cpnd_price[]')
        {
                yield=document.getElementById("cpnd").value;
               
        }
        else if(item=='rpnd_price[]')
        {
                yield=document.getElementById("rpnd").value;
        }
 
        ex_rate=new Number(document.getElementById("ex_rate").value);
        margin=new Number(document.getElementById("margin").value);
        expense=new Number(document.getElementById("expense").value);
 
        temp_price=(val*100)/2.2;
        temp_price1=(temp_price/ex_rate)/yield;
        price=(temp_price1+expense);
        percentage=(price/100)*margin; 
        price=Math.round((price+percentage) * 100) / 100;
        document.getElementById(field).value = price;
        }
        else
        {
        document.getElementById(field).value = "";
        }
}

$(document).ready(function(){
    init_page();

    $(".delete").click(function () {
        $(this).parent().parent().remove();
    });
});
</script>

{% endblock %}
