{% extends "base.html" %}

{% block title %}Add Your Own Price{% endblock %}


{% block content %}

<div>
<table>

	<tr>
		<td>Ex. Rate</td>
		<td><input type="text" id="ex_rate" value="62"></td>
	</tr>
	<tr>
		<td>Expense</td>
		<td><input type="text" id="expense" value="1.05"></td>
	</tr>

</table>
</div>


<div>
RM RATE
<table id="rm_table">
	<tr>
		<th>Count</th>
		<th>Price</th>
		<th>Price (Inc Comm)</th>
	</tr>

	<tr>
		<td>20</td>
		<td><input type="text" id="rm_low" name="rm_low"></td>
		<td><input type="text" id="rm_high" name="rm_high"></td>
	</tr>

</table>
</div>



{% endblock %}

<script type="text/javascript">
{% block scripts %}


function fill_RM_Table()
{
	var table = '';
	for (var i = 2; i < 9 i++) {
		table += '<tr>';

		table += '<td>';
		table += i*10;
		table += '</td>';

		table += '<td>';
		table += '<input type="text" id="rm_low" name="rm_low">';
		table += '</td>';

		table += '<td>';
		table += '</td>';	

		table += '</tr>';

	};

	$('#rm_table').append(table);
}

function Calc(val,field,item)
{
	if(val!="" && val!='0')
	{
	if(item=='cpto_price[]')
	{
		yield=document.getElementById("cpto").value;
	}
	else if(item=='rpto_price[]')
	{
		yield=document.getElementById("rpto").value;
	}
	else if(item=='ezpl_price[]')
	{
		yield=document.getElementById("ezpl").value;
	}
	else if(item=='cpnd_price[]')
	{
		yield=document.getElementById("cpnd").value;
		
	}
	else if(item=='rpnd_price[]')
	{
		yield=document.getElementById("rpnd").value;
	}

	ex_rate=new Number(document.getElementById("ex_rate").value);
	margin=new Number(document.getElementById("margin").value);
	expense=new Number(document.getElementById("expense").value);

	temp_price=(val*100)/2.2;
	temp_price1=(temp_price/ex_rate)/yield;
	price=(temp_price1+expense);
	percentage=(price/100)*margin;	
	price=Math.round((price+percentage) * 100) / 100;
	document.getElementById(field).value = price;
	}
	else
	{

	document.getElementById(field).value = "";
	}
}
</script>

{% endblock %}