{% extends "base.html" %}

{% block title %}Select Country{% endblock %}



{% block content %}


<div class="box border primary col-md-4">
	<div align="center" class="box-title">
		<h4><i></i>RM Price Entry</h4>
		<div class="tools hidden-xs">
	  </div>
	</div>
	<div class="box-body big" style="padding-right: 20; padding-left:0;">
		
		<form action="" method="post" class="form-horizontal" role="form" style="padding-right:10%;" >
		{% csrf_token %}

		 <div class="form-group" style="padding-top:10px;">
			<label class="col-sm-5 control-label">Select Start Date</label>
			<div class="col-sm-7">
			  <input class="form-control" type="text" name="date" id="id_date" required>
			</div>
		  </div>
		  <div class="form-group">
			<label class="col-sm-5 control-label">Select Country</label>
			<div class="col-sm-7">

			 <select class="form-control" name="country">
			  	<option value="india">RM India Price</option>
				<option value="indonesia">RM Indonesia Price</option>
				<option value="thailand">RM Thailand Price</option>
				<option value="vietnam">RM Vietnam Price</option>
				<option value="India_other">RM India Other Price</option>
			</select>

         </div>
		  </div>
          
            <div class="form-group"  style="padding-top:10px;">
	            <label class="col-sm-5 control-label"></label>
	            <div class="col-sm-7">
		            <button type="submit" class="btn btn-primary">Submit</button>
		            <button type="reset" class="btn btn-primary">Clear</button>
         		</div>
        	</div>

        </form>
	</div>
</div>


{% endblock %}

{% block styles %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">

{% endblock %}

{% block scripts %}

<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

<script type="text/javascript">

$(document).ready(function () {
	$("#id_date").datepicker({ dateFormat: 'yy-mm-dd' });
});

</script>

{% endblock %}