{% extends "base.html" %}

{% block title %}Show Report{% endblock %}

{% block content %}

<br/>


<div style="clear:both; height:20px;"></div>
{% if cats|length > 0 %}
<div class="row">
<div class="col-md-12">
<div class="box border primary">
<div class="box-title">
    <h4><i class="fa fa-table"></i>Category List</h4>
</div>

<div class="table-responsive" style="overflow: scroll;">
<table class="table ">


        <tr>
            <th>No.</th>
            <th>Description</th>
            
            {% for item in cats %}
            <th>{{ item.date|date:'d-m-Y' }}</th>
            {% endfor %}

        </tr>

        <tr>
            <td>1</td>
            <td>{{ product }}</td>

            {% for itm in cats %}
            <td>{{ itm.price }}</td>
            {% endfor %}

        </tr>

</table>
</div>
</div>
</div>
</div>
{% else %}

<div class="alert alert-block alert-danger fade in" style="font-size:18px; width:30%;"> No Reports To Show </div>

{% endif %}
</div>


{% endblock %}