[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=%(project)s
Group=%(project)s
WorkingDirectory=%(home)s
ExecStart=%(home)s/gunicorn/bin/gunicorn --pid /run/gunicorn/pid %(app)s:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target